.cards{
    display: grid;
    gap: var(--spacing-lg);
    @media(width <= $breakpoint-md){
        gap: 32px;
        grid-template-columns: 1fr 1fr;
    }

    @media(width <= $breakpoint-sm){
        display: block;
    }
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even){
        .card__content{
            order: -1;
            @media(width <= $breakpoint-md){
        order: unset;
    }
        }
    }

    @media(width <= $breakpoint-md){
        display: block;
    }
}

.card__media{
    aspect-ratio: 594/490;
    img{
        width: 100%;
        height: 100%;
        object-fit: auto;
    }
}

.card__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    h3, p, a{
        margin: 0;
    }
}