.cards {
    display: grid;
    gap: var(--spacing-lg);
    @media (width <= $breakpoint-md) {
        gap: var(--spacing-md);
        grid-template-columns: 1fr 1fr;
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    @media (width <= $breakpoint-md) {
        display: block;
    }
    @media (width <= $breakpoint-sm) {
        margin: var(--spacing-xxl) 0;
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (width <= $breakpoint-md) {
        margin-bottom: var(--spacing-md);
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    h3,
    p,
    a {
        margin: 0;
    }
}
