.hero {
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
    }
}

.hero .hero__media {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero .hero__content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
