h2 {
    margin-bottom: var(--spacing-xxl);
}

.premiers {
    @media (width <= $breakpoint-sm) {
        padding-bottom: 10px;
    }
}

.premiers .card:nth-child(even) {
    .card__content {
        order: -1;
        @media (width <= $breakpoint-md) {
            order: unset;
        }
    }
}
