.reactifs {
    background-color: var(--color-primary);
    color: var(--color-black);
    .button {
        background-color: var(--color-white);
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            border: solid 1px var(--color-white);
            padding: 7px 15px;
            text-decoration: none;
            color: var(--color-white);
        }
    }
    @media (width <= $breakpoint-sm) {
        padding: 80px 0;
    }
}
