.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;
    margin-top: var(--spacing-lg);
}

.swiper .card {
    @media (width <= $breakpoint-sm) {
        margin: 0;
    }
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--color-black);
    opacity: 0.3;
    border-radius: 0;
    rotate: 45deg;
    animation-duration: 0.3s;
    transition: 0.3s ease-out;
    &-active {
        background-color: var(--color-white);
        opacity: 1;
        rotate: 135deg;
    }
}
