/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;
    font-family: var(--font-secondary);

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

.button {
}
