/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;
    font-family: var(--font-secondary);

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

.button {
    color: var(--color-black);
    background-color: var(--color-primary);
    border-radius: 100px;
    width: fit-content;
    padding: 8px 16px;
    display: block;
    font: 700 16px/150% var(--font-secondary);
    text-transform: uppercase;
}
