/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Work Sans', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(30px, 40px)};
    --font-size-h3: #{typo(16px)};
    --font-size-h4: #{typo(56px)};
    --font-size-p: #{typo(24px, 32px)};
    --font-size-p-footer: #{typo(18px)};
    --font-size-tag: #{typo(16px)};
}
