{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/HeroBG.jpg" alt="Background du hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>
<secion class="premiers">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>
        <div class="cards">
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="../Sem01" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="../Sem01" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="../Sem01" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="../Sem01" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
</secion>

<section class="reactifs">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>
        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <article class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 01 - Révision</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">HTML + CSS</p>
                        <a href="../Sem01" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
                <article class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 01 - Révision</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">HTML + CSS</p>
                        <a href="../Sem01" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
                <article class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/CardMediaTemp.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 01 - Révision</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">HTML + CSS</p>
                        <a href="../Sem01" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
