{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/HeroBG.jpg" alt="Background du hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>
<secion class="premiers section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>
        <div class="cards">
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/Sem01Thumbnail.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        Ce laboratoire m'a servi avec la
                        <span>révision de la matière vue dans les cours précédents.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="../sem01" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/Sem02Thumbnail.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - TimTools</h3>
                    <p>
                        Ici, j'ai appris à utiliser un stack de développement pour
                        <span>faciliter la création de site web.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="../sem02" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/Sem03Thumbnail.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louisa Joy</h3>
                    <p>
                        En construisant ce site, j'ai
                        <span>renforcé mes compétences avec un stack de développement.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="../sem03" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/Sem04Thumbnail.png" alt="Site 1" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - Icônes et Classes JS</h3>
                    <p>
                        La construction de ce site m'a aidé à
                        <span>intégrer les icônes en SVG et le Javascript dans un site.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="../sem04" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
</secion>

<section class="reactifs section">
    <div class="wrapper">
        <h2>
            <span>Mes</span>
            laboratoires réactifs
        </h2>
        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <article class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Sem07Thumbnail.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 07 - Site Réactif</h3>
                        <p>
                            On a appris comment utiliser les breakpoints pour
                            <span>faire un site qui change selon l'écran.</span>
                        </p>
                        <p class="tag">HTML + CSS</p>
                        <a href="../sem07" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
                <article class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Sem08Thumbnail.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 08 - Site Réactif 2</h3>
                        <p>
                            Ici, nous avons
                            <span>renforcé les compétences apprises avec le réactif.</span>
                        </p>
                        <p class="tag">HTML + CSS</p>
                        <a href="../sem08" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
                <article class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Sem09Thumbnail.png" alt="Site 1" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 09 - Swiper JS</h3>
                        <p>
                            Nous avons vu comment
                            <span>utiliser Swiper JS pour faire un Swiper comme celui-ci.</span>
                        </p>
                        <p class="tag">HTML + CSS</p>
                        <a href="../sem09" class="button">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
